@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  // background-color: #333333;
  padding-top: 60px;
}

.user {
  min-height: 280px;
  margin-bottom: 24px;
  padding: 12px 20px;
  background-color: #eee;
}
